[defaults]
inventory = ansible/inventories/lab/hosts.yml
roles_path = ansible/roles
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
